@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Scripts/angularScript/home.js"></script>

<div ng-app="CaycanhApp">
    <div ng-controller="HomeCtrl">
        <div ng-init="LoadLoaiSP()"></div>
        <div ng-init="LoadSPGC()"></div>
        <div ng-init="LoadSPGG()"></div>
        <div ng-init="LoadSPMoi()"></div>

        <div class="slider-with-category_menu">
            <div class="container-fluid">
                <div class="row">
                    <div class="col grid-half order-md-2 order-lg-1">
                        <div class="category-menu">
                            <div class="category-heading">
                                <h2 class="categories-toggle"><span>Danh mục sản phẩm</span></h2>
                            </div>
                            <ul id="cate-toggle" class="category-menu-list">
                                <li style="margin-top:8px" ng-class="appliedClass(item)" ng-repeat="item in listLoaiSP">
                                    <a href="/SanPham/DanhSach/?MaLoai={{item.MaLoai}}">{{item.TenLoai }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    

                    <div class="col grid-full order-md-1 order-lg-2">
                        <div id="home-slider" style="width:145%">
                            <div class="container">
                                <div class="row">
                                    <div class="header-top-right">
                                        <div class="homeslider">
                                            <ul col-sm-12 id="contenhomeslider">
                                                <li><img alt="Funky roots" src="~/content/images/slide/img1.jpg" title="Funky roots" /></li>
                                                <li><img alt="Funky roots" src="~/content/images/slide/img2.jpg" title="Funky roots" /></li>
                                                <li><img alt="Funky roots" src="~/content/images/slide/img3.jpg" title="Funky roots" /></li>
                                                <li><img alt="Funky roots" src="~/content/images/slide/anh4.jpg" title="Funky roots" /></li>
                                                <li><img alt="Funky roots" src="~/content/images/slide/img5.jpg" title="Funky roots" /></li>
                                                <li><img alt="Funky roots" src="~/content/images/slide/img6.jpg" title="Funky roots" /></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col grid-half grid-md_half order-md-1 order-lg-2">
                        <div class="banner-item img-hover_effect">
                            <a style="width:150%" href="shop-left-sidebar.html">
                                <img class="img-full" src="~/Content/images/cay/anh_header11.jpg" alt="Hiraola's Banner">
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="content-page">
            <div class="container">
                <div class="category-featured Vegetables">
                    <h2 class="page-heading">
                        <span class="page-heading-title"><img alt="fashion" src="~/Content/images/commerce-tag.png" />HIGH PRICE PRODUCTS</span>
                    </h2>
                    <div class="col-sm-12">
                        <div class="product-featured clearfix">
                            <div class="row">
                                <div class="box-right">
                                    <ul class="product-list">
                                        <li ng-repeat="item in listSPGC|filter:searching" class="col-sm-3 product-item" style="width:250px;">
                                            <div class="left-block">
                                                <a href="/SanPham/Chitiet/?MaSp={{item.MaSP}}">
                                                    <img style="width:200px;height:210px " class="img-responsive" alt="product"
                                                         src="~/Content/images/product-detail/cayuuthich/{{item.Anh}}" />
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    <a title="Add to compare" class="compare" href="#"></a>
                                                    <a title="Quick view" href="~/Content/images/product-detail/cayuuthich/{{item.Anh}}" class="search fancybox-button"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a class="add-item-to-cart" ng-click="addToCart(item)" href="#" data-name="{{item.TenSP}}"
                                                       data-price="{{item.Gia}}" data-image="~/Content/images/product-detail/vegetables/spinach_300x300.jpg" data-product-code="{{item.Masp}}">Thêm vào giỏ hàng</a>
                                                </div>
                                                <div class="bestseller"></div>
                                            </div>
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="/Sanpham/Chitiet/?MaSP={{item.MaSP}}">{{item.TenSP}}</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price"><span style="color: black">Price: </span>{{item.Gia| currency:value=""}}</span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-page">
            <div class="container">
                <div class="category-featured Vegetables">
                    <h2 class="page-heading">
                        <span class="page-heading-title"><img alt="fashion" src="~/Content/images/commerce-tag.png" /> PROMOTION</span>
                    </h2>
                    <div class="product-featured clearfix">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="box-right">
                                    <ul class="product-list">
                                        <li ng-class="appliedClass(item)" ng-repeat="item in listSPGG|filter:searching" class="col-sm-3 product-item" style="width:250px">
                                            <div class="left-block">
                                                <a href="/SanPham/Chitiet/?MaSp={{item.MASP}}">
                                                    <img style="width:200px;height:210px " class="img-responsive" alt="product"
                                                         src="~/Content/images/product-detail/cayuuthich/{{item.Anh}}" />
                                                </a>

                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    <a title="Add to compare" class="compare" href="#"></a>
                                                    <a title="Quick view" href="~/Content/images/product-detail/cayuuthich/{{item.Anh}}" class="search fancybox-button"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a class="add-item-to-cart" ng-click="addToCart(item)" href="#" data-name="{{item.TenSP}}"
                                                       data-price="{{item.GiaKM| currency:value=""}}" data-image="~/Content/images/product-detail/vegetables/spinach_300x300.jpg" data-product-code="{{item.Masp}}">Thêm vào giỏ hàng</a>
                                                </div>
                                                <div class="price-percent-reduction2">
                                                    - {{item.Khuyenmai}} % OFF
                                                </div>
                                            </div>
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="/Sanpham/Chitiet/?MaSP={{item.MaSP}}">{{item.TenSP}}</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">
                                                        <span style="color: orangered">Best Price:</span> {{item.GiaKM| currency:value=""}}
                                                    </span>
                                                    <br><span style="color: black">Price:</span>
                                                        <span class="price old-price">{{item.Gia| currency:value=""}}</span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-page">
            <div class="container">
                <div class="category-featured Vegetables">
                    <h2 class="page-heading">
                        <span class="page-heading-title"><img alt="fashion" src="~/Content/images/commerce-tag.png" /> PRODUCT STORE</span>
                    </h2>
                    <div class="product-featured clearfix">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="box-right" style="margin-left:50px;">
                                    <ul class="product-list">
                                        <li ng-class="appliedClass(item)" ng-repeat="item in listSPMoi|filter:searching" class="col-sm-3 product-item" style="width:250px;" >
                                            <div class="left-block">
                                                <a href="/SanPham/Chitiet/?MaSp={{item.MaSP}}">
                                                    <img style="width:210px;height:210px" class="img-responsive" alt="product"
                                                         src="~/Content/images/product-detail/cayuuthich/{{item.Anh}}" />
                                                </a>

                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    <a title="Add to compare" class="compare" href="#"></a>
                                                    <a title="Quick view" href="~/Content/images/product-detail/product-detail/cayuuthich/{{item.Anh}}" class="search fancybox-button"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a class="add-item-to-cart" ng-click="addToCart(item)" href="#" data-name="{{item.TenSP}}"
                                                       data-price="{{item.GiaKM| currency:value=" data-image="~/Content/images/product-detail/vegetables/spinach_300x300.jpg" data-product-code="{{item.Masp}}">Thêm vào giỏ hàng</a>
                                                </div>
                                                <div class="bestseller"></div>
                                            </div>
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="/Sanpham/Chitiet/?MaSP={{item.MaSP}}">{{item.TenSP}}</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price"><span style="color: black">Price: </span>{{item.GiaKM| currency:value=""}}</span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>